@import "../themes/anpu/sass/main.scss";

/* Overwrites the theme (need to change this import above if I change the theme). */
/* Can put anything in here to overwrite the above main.scss */

h1 {
    font-size: 2em;
}

h1.page-title {
    font-size: 2em;
    margin: 0;
}
