<div {% if class %}class="{{class}}"{% endif %}>
    <div class="media"> 
        <audio controls preload="metadata">
            <source src="{{path | safe }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

</div>