{% set path = page.colocated_path ~ fname %}
{% set metadata = get_image_metadata(path=path) %}
{% set resized_webp = resize_image(path=path, width=1000, height=1000, op="fit", format="webp", quality=90) %}
{% set resized_jpeg = resize_image(path=path, width=1000, height=1000, op="fit", format="jpeg", quality=75) %}
<figure>
<a href="{{get_url(path=page.path~fname)}}">
<picture>
<source srcset="{{resized_webp.url}}" type="image/webp"
    height="{{resized_webp.height}}" width="{{resized_webp.width}}">

<img src="{{resized_jpeg.url}}" alt="{{alt}}"
height="{{resized_jpeg.height}}" width="{{resized_jpeg.width}}">
</picture>
</a>
<figcaption>
<a class="image-download-original" href="{{fname}}">{{fname}} {{size | filesizeformat}}
({{metadata.width}}x{{metadata.height}})</a><br>
{% if caption %}
{{caption | markdown | safe}}
{% endif %}
</figcaption>
</figure>
