<style>
.inline-spoiler {
  position: relative;
  display: inline-block;
  cursor: help;
}

.inline-spoiler::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  color: white;
  background: black;
  opacity: 1;
  transition: opacity 0.7s ease, transform 0.3s ease;
}

.inline-spoiler:hover::before {
  opacity: 0;
  transform: translateY(-50%)rotateX(80deg);
  transition: opacity 1.0s ease, transform 0.5s ease;
  transition-delay: 0.3s; // To not accidentally reveal the spoiler when hovering over the page
}
</style>

<div {% if class %}class="{{class}}"{% endif %}>
<span class="inline-spoiler">"{{spoiler | safe }}"</span>
</div>
