{% import "macros/page.html" as page_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <meta name="description" content="{{ config.description }}">

    <link rel="stylesheet" href="{{ get_url(path="main.css") }}">

    {% if config.generate_feeds %}
        <link rel="alternate" type={% if config.feed_filenames == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="skip-main" href="#main">Skip to content</a>
    <div class="container">
        <header> 
            <h1 class="site-header">
                <a href="{{ config.base_url }}">{{ config.title }}</a>
            </h1>
            <nav>
                {% block sidebar_nav %}
                {% for menu_link in config.extra.anpu_menu_links %}
                {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
                <a {% if current_url and current_url == link_url %}class="active"{% endif %} href="{{ link_url }}">{{menu_link.name}}</a>
                {% endfor %}
                {% endblock sidebar_nav %}
            </nav>
        </header>
        <main id="main" tabindex="-1">
            {% block content %}
            {{ section.content | safe }}
                {% if paginator.pages %}
                {% for page in paginator.pages %}
                    {{ page_macros::page_listing(page=page) }}
                {% endfor %}
                {{ page_macros::page_pagination(paginator=paginator) }}
                {% else %}
                {% for page in section.pages %}
                    {{ page_macros::page_listing(page=page) }}
                {% endfor %}
                {% endif %}
            {% endblock content %}
        </main>
        <footer>
            <div style="display: inline-block;">
            <p style="display: inline-block;">
                © {{ config.title }} {{ now() | date(format="%Y") }}<br>
                Powered by <a target="_blank" href="https://getzola.org/">Zola</a>, Theme <a target="_blank" href="https://github.com/zbrox/anpu-zola-theme">Anpu</a>.
            </p>
            </div>
            <!--
            <div align='right' style="display: inline-block;">
            <p>See my Strava!</p>
            <iframe height='160' width='300' frameborder='0' align='right' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/6651640/activity-summary/3a8c033241b9fc3174b4a5531131c66849c67f00'></iframe>
            </div>
-->

            <p>
                {% block footer %}
                {% endblock footer %}
            </p>
        </footer>
    </div>
    
    {% include "partials/darkmode.html" %}
    
</body>
</html>
