{% extends "anpu/templates/page.html" %}

{% block title %} {{ page.title }} - {{ config.title }} {% endblock title %}

{% block content %}
<article class="post">
    <header>
        <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <small>{{ page.reading_time }}m Reading time, {{ page.word_count }} words.</small>
    <hr>
    
    <div class="content">
        {{ page.content | safe }}
    </div>

    {{ page_macros::page_info(page=page) }}
</article>
{% endblock content %}
